*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(64, 124, 227);
}
.DivTBnAgg{
    margin-top: 6%;
    margin-left: 2%;
}
.BtnAgg{
    background-color: rgb(7, 41, 153);
    border:none;
    height: 50px;
    width: 140px;
    margin-left: 1%;
    border-radius: 5px;

}
.BtnAgg:hover{
    background-color: rgb(121, 121, 164);
    text-replace: 3s;
}
.Lista{
    margin-top: 1%;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}
.filas{
    width: 3%;
    border:1px rgb(150, 166, 182) solid;
    background-color: rgb(80, 80, 166);
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
.Enlace{
    color: black;
}
.columnas{
    border: 1px solid;
    background-color: rgb(29, 29, 114);
    padding:1%;
}