@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
text-align: center;
background-image: url(/Codigos/Errores/adicionales/imagenes/rojo-y-azul-quebraduras_1920x1080_xtrafondos.com.jpg);
font-family: 'Raleway', sans-serif;
}

.error_500_titulo{
    margin: auto;
    background-color: #000000;
    opacity: 0.8;
    background-image: linear-gradient(45deg, #a61111 50%, #000000 50%);
    background-size: 10px 10px;
    max-width: 500px;
    max-height: 100px;
    border: none;
    border-radius: 10px;
    color: #8f8989;
}

.error_500_contenedor{
    background-color: #000000;
    opacity: 0.8;
    background-image:  linear-gradient(30deg, #a51010 12%, transparent 12.5%, transparent 87%, #a51010 87.5%, #a51010), linear-gradient(150deg, #a51010 12%, transparent 12.5%, transparent 87%, #a51010 87.5%, #a51010), linear-gradient(30deg, #a51010 12%, transparent 12.5%, transparent 87%, #a51010 87.5%, #a51010), linear-gradient(150deg, #a51010 12%, transparent 12.5%, transparent 87%, #a51010 87.5%, #a51010), linear-gradient(60deg, #a5101077 25%, transparent 25.5%, transparent 75%, #a5101077 75%, #a5101077), linear-gradient(60deg, #a5101077 25%, transparent 25.5%, transparent 75%, #a5101077 75%, #a5101077);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
    height: 100px;
    width: 80rem;
    margin: auto;
    border-radius: 10px;
}
.error_500_boton{
    height: 40px;
    width: 400px;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}
.error_500_boton:hover{
    background-color: #0c374a;
    transition: 2s;
}
.error_500_boton_text{
    text-decoration: none;
    color: aliceblue;
}
.error_500_contenedor2{
    background-color: #000000;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #1137a655, #1137a6 );
    height: 140px;
    width: 800px;
    margin: auto;
    border-radius: 25px;
    color: aliceblue;
}
.error_500_imagen{
    position: relative;
    opacity: none;
}